body {
  background-color: #f9f9f9; /* Light grey background for contrast */
}

.date-input {
  margin-right: 20px; /* Adjust the right margin as needed */
}

.date-filter {
  display: flex;
  justify-content: space-between; /* This will space out the children equally */
  padding: 10px 0;
}

.date-column {
  width: 120px;
}

.tableHeader{
  color: #1b6ec2;
}
