body {
  background-color: #f9f9f9;
}

.date-input {
  margin-right: 20px;
}

.date-filter {
  display: flex;
  gap: 240px;
  padding: 10px 0;
}

.date-column {
  width: 120px;
}

.tableHeader{
  color: #1b6ec2;
}

.button {
  cursor: pointer;
}

.custom-table{
  width: 758px;
}

.table-and-chart{
  justify-content: space-between;
}

.mat-sort-header-container {
  justify-content: center;
}
