body {
  background-color: #f9f9f9;
}

.date-input {
  margin-right: 20px;
}

.date-filter {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.date-column {
  width: 120px;
}

.tableHeader{
  color: #1b6ec2;
}
