<div>
  <div class="radio-buttons">
  <label>
    <input class="radio-input" type="radio" name="options" value="users" [(ngModel)]="selectedOption" (change)="onOptionChange('users')"> Users
  </label>
  <label>
    <input class="radio-input" type="radio" name="options" value="projects" [(ngModel)]="selectedOption" (change)="onOptionChange('projects')"> Projects
  </label>
  </div>
  <google-chart
    [type]="chartType"
    [data]="chartData"
    [columns]="chartColumns"
    [options]="chartOptions"
    [width]="500"
    [height]="400"
  >
  </google-chart>
</div>
